client/.classpath
client/.gwt/
client/.project
client/.settings/
client/src/main/gwt-unitCache/
client/src/main/webapp/hupa/
client/src/main/webapp/WEB-INF/deploy/
client/target/
mock/.classpath
mock/.project
mock/.settings/
mock/target/
.project
server/.classpath
server/.project
server/.settings/
server/target/
server/war/
.settings/
shared/.classpath
shared/.project
shared/.settings/
shared/target/
target/
widgets/.classpath
widgets/.project
widgets/.settings/
widgets/target/
